td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  bgcolor: "white";
}

#main_center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
//background-color:#b0e0e6;
}

#line_chart{
	width:300px;
}